.select-dropdown {
    max-height: 250px!important;
}
.--g-document .col {
    margin-bottom: 0;
}
.--g-document .--header {
	display: block;
    background: #fafbfc;
    padding: 0 24px;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #e7e8ec;
    border-radius: 4px 4px 0 0;
    font-size: 16px;
    outline: none;
    color: #000;
    margin: -24px -24px 24px;
}

.--g-document .--g-title {
    color: #656565;
    margin-bottom: 1rem;
}
.--g-document .section-grid {
    display: inline-block;
    margin-right: 2rem;
}
.--g-document .section-grid:last-child {
    margin-right: 0;
}
.--g-document .--actbtn {
    margin-top: 1.3rem;
    position: relative;
}
.--g-document .--actbtn .--preloader {
    position: absolute;
    z-index: 1;
    width: 121px;
    height: auto;
    right: 12px;
    top: 45px;
}
.--g-document .--actbtn .--preloader .progress {
    margin:0;
}

#upload {
    display: none;
}

.OrzuDocumentVer {

}
.OrzuDocumentVer .--svg {
    vertical-align: middle;
}
.OrzuDocumentVer .--svg img {
    width: 100%;
}
.OrzuDocumentVer .--text {
    display: inline-block;
}
.OrzuDocumentVer .--text h6 {

}
.OrzuDocumentVer .--text p.--textPar {
    font-size: 13px;
    color: #222;
}
